<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzapp Dark Mode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="root">
      <div id="page-wrapper">
        <div class="container">
          <!-- Aside (left side) -->
          <aside>
            <div class="user">
              <div class="user-info">
                <img :src="user.avatar" :alt="user.name + ' avatar'">
                <h3>{{user.name}}</h3>
              </div>
              <div class="aside-icons">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="new-messages-container">
              <i class="fas fa-bell-slash"></i>
              <div class="new-messages">
                <h2>Ricevi notifiche di nuovi messaggi</h2>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>
            <div class="search">
              <i @click="searchContact()" class="fa fa-search" aria-hidden="true"></i>
              <label for="search-bar"></label>
              <input @keyup="searchContact()" v-model="name_search" id="search-bar" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- Contacts list -->
            <div class="contacts-list-container">
              <ul id="contacts-list">
                <li v-if="contact.visible" @click="showChat(index)" :class="(index === active_contact) ? 'active' : ''" v-for="(contact, index) in contacts_list">
                  <div class="contact-info">
                    <img :src="contact.avatar" :alt="contact.name + ' avatar'">
                    <div class="name-and-preview">
                      <h3>{{contact.name}}</h3>
                      <small>{{showLastMessage(contact)}}</small>
                    </div>
                  </div>
                  <span class="time">{{showTime(contact)}}</span>
                </li>
              </ul>
            </div>
          </aside>
          <!-- Main (right side) -->
          <main>
            <div id="main-top">
              <div class="current-contact">
                <img :src="contacts_list[active_contact].avatar" :alt="contacts_list[active_contact].name + ' avatar'">
                <div class="name-and-preview">
                  <h3>{{contacts_list[active_contact].name}}</h3>
                  <small>Ultimo accesso oggi alle {{getTime(newFullDate())}}</small>
                </div>
              </div>
              <div class="main-icons">
                <i class="fa fa-search" aria-hidden="true"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- Chat window -->
            <div id="chat-window">
              <div class="message" :class="message_object.status" v-for="(message_object, index) in contacts_list[active_contact].messages_list">
                <p>{{message_object.message}}</p>
                <small>{{getTime(message_object.date)}}</small>
              </div>
            </div>
            <div id="main-bottom">
              <i class="far fa-smile"></i>
              <label for="text-message"></label>
              <input @keyup.enter="sendMessage()" v-model="text_message" id="text-message" type="text" placeholder="Scrivi un messaggio">
              <i @click="sendMessage()" class="fas fa-share-square"></i>
              <i class="fas fa-microphone"></i>
            </div>
          </main>
        </div>  <!-- Closing container -->
      </div>  <!-- Closing page-wrapper -->
    </div>  <!-- Closing #root (VUE JS) -->
    <script type="text/javascript" src="action.js"></script>
  </body>
</html>
